a {
	color: #60a0ea;
    text-decoration: none;	
}

body {background-color: #2b2b2b;}

button {
	background-color: #000000ad;
    color: white;
    border-style: solid;
    border-color: #39489f;
    font-size: smaller;
	cursor: pointer;
}
button:focus {outline:0;}

span {display: contents;}

@font-face {
    font-family: 'Sauer_default';
    src: url('default.ttf');
}

.pserver, .pserver_off {
	color: lightgrey;
	font-family: 'Sauer_default';
    background-color: #00000038;
    margin: 2;
    padding: 5;
    display: flex;
	flex: auto;
	flex-flow: column;
    min-width: 300px;
    text-align: left;
    padding-left: 10px;
    box-shadow: 0 0 4px black;
}

.pserver:hover {
	background-color: #5d5c5c38;
	cursor: pointer;
}

.pserver_off {background-color: #00000080;}

.pserver_off:hover {
	background-color: #29292980;
	cursor: pointer;	
}

.title {
    font-family: sans-serif;
    color: white;
    text-shadow: 0 0 6px #0000008c;
    background-color: #2d2d2d36;
    padding: 10;
    /* margin-left: -12; */
    margin-right: -12px;
    border-style: solid;
    border-color: #00000047;	
}

.gmodes {
	display: inline;
    color: #ffe835;
    font-variant: all-small-caps;	
}

.gmaps {color: white;}

.ghost {
    color: white;
    font-family: monospace;
    user-select: all;
    cursor: initial;
    padding: 3;
}

.gclients {
	position: relative;
    left: -55px;
    font-size: larger;
    color: white;
	max-width: 0px;
	user-select: none;
    font-family: fantasy
}

.serverdialog {
	display: none;
    position: fixed;
    z-index: 2;
    background-color: #5466cc;
    padding: 5;
    width: 500px;
	height: 300px;
    border-style: solid;
    border-width: 6px;
    border-color: #00000070;
    box-shadow: 0 0 4px black;
    background-position: center;
	background-clip: padding-box;
    background-blend-mode: hard-light;
    background-size: cover;
    background-repeat: no-repeat;
	overflow-y: auto;
	overflow-x: hidden;
	transition: width 0.05s, height 0.05s;
    resize: auto;
}

#icon {
    position: absolute;
	margin-left: 1%;
}

.fas {
    text-shadow: none;
}

#serverbrowser {
    padding: 12px;
    overflow: auto;
    max-height: 82%;
    display: flex;
    background-color: #3F51B5;
    box-shadow: 0 0 10px 2px black;
    flex-flow: wrap;
}

#dialogbutton {
    position: fixed;
    background-color: #00000000;
    border-style: none;
    font-size: larger;
    color: #65abf4;
    margin-top: -2%;
    margin-left: -1%;
	padding: 0;
}

#dialogbutton:hover {color: #65e6f4;}

#dialogbutton:active {color: white;}

#serverdesc {
	color: white;
    font-family: Sauer_default;
    background-color: #00000047;
    padding: 10px;
    border-style: solid;
    border-width: 2;
    box-shadow: 0 0 18px black;
}

#serverslots {
    color: white;
    font-family: Sauer_default;
    font-size: small;
    background-color: #00000047;
    padding: 5;
}

#serverplayers {
	color: white;
    margin: 5px;
    font-family: monospace;
    background-color: #3f51b599;
    padding: 6;
	min-width: 88%;
	text-shadow: 0 0 15px black;
}

#serverteams {
	font-family: fantasy;
    background-color: #00000091;
    display: -webkit-inline-box;
    padding: 5px;
    border-radius: 15px;
    min-width: 18%;	
}

#serverplayersDetails {
	color: seashell;
    font-size: larger;
    background-color: #00000075;
    display: inline-block;
    padding-left: 5;
    padding-right: 5;
    font-variant: all-small-caps;
    min-width: 50%;
}

/* Scrollbar by: GhostRider (https://codepen.io/GhostRider/pen/GHaFw) */

::-webkit-scrollbar-corner
{
	display: none;
}
::-webkit-scrollbar-track
{

	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	cursor: pointer;
	width: 12px;
	background-color: unset;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #4799b5;
}